@media only screen and (max-width: 320px) {
    .col-md-10{
        padding: 0 0;
    }
}

.btn-my-danger{
    background-color: #E93939;
}
/*index page*/
/*=============================================================================================*/
/*nav bar*/
.navbar-fixed-top{
    background-color: transparent;
}
.top-nav-collapse{
    background-color: #616161;
}
.navbar-right p{
    margin-bottom: 0;
}
.navbar-right p a {
    color: #ffffff;
}
.navbar-right p a:hover, .navbar-right p a:focus{
    color:#eeeeee;
}
.navbar-right p i{
    padding: 0 8px;
    color: #ffffff;
}
/*end of nav bar*/
/*login is modal*/
.modal-dialog {
    width: 390px;
    margin: 100px auto;
}
.modal-header{
    background-color: #424242;
    color: #fafafa;
}
.modal-header h4{
    font-family: "FontAwesome";
    font-width: 400;
}
.modal-body{
    padding: 40px 50px;
    background-color: #ffffff;
}
.remember-me label{
    font-size: 0.9rem;
}
.modal-login input{
    margin: 30px 0 0 0;
    color: whitesmoke;
}
.modal-login input:hover, .modal-login input:focus{
    color: whitesmoke;
}
.modal-footer{
    padding: 10px 50px;
    background-color: rgb(246, 246, 246);
}
.modal-footer div p a{
    font-weight: 300;
    font-size: 15px;
}
.modal-footer div button{
    margin-left: 0;
    background-color: #E93939;
    color: whitesmoke;
}
.modal-footer div button:hover, .modal-footer div button:focus{
    color: whitesmoke;
}
/*end of login modal*/

/*section for image in place carousel*/
.banner-img img{
    width: 100%;
    min-height: 90%;
}
/*end of the image section*/
/*spacing between two divs*/
.spacing{
    /*padding-top: 50px;*/
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
    margin: 25px 0;
}
.spacing-index{
    padding: 5% 0;

}
/*end of spacing section*/
/*icons section*/
.index-side-content{
    padding: 2% 1%;
}
.index-icons{
    padding: 5% 0;
}
.index-icons i{
    margin: 15px;
    background-color: #EB5546;
    color: #F5F5F5;
    padding: 3%;
}
/*end of icons section*/
/*for footer*/
footer.page-footer{
    margin-top: 0;
    padding-top: 0;
}
.footer-about p{
    padding-bottom: 30px;
}
.footer-links li{
    display: inline-block;
    padding: 3px 10px 0 10px;
}
.footer-links li a{
    font-size: 1rem;
}
.footer-links li a:hover, .footer-links li a:focus{
    color: lightgrey;
}
/*end of footer*/
/*======================================================================================================*/
/*end of index page*/


/*forget password page*/
/*-----------------------------------------------------------------------------------------------------*/
.forget-password{
    background-color: lightgrey;
    margin-top: 50px;
}
.form input[type=text]:focus {
    border-bottom: 1px solid #FFF;
    box-shadow: 0 1px 0 0 #000;
}
.forget-password form input{
    background-color: whitesmoke;
}
.form input{
    background-color: #ffffff;
    padding: 0;
    width: 45%;
}
/*-----------------------------------------------------------------------------------------------------*/
/*end of forget password page*/
/*visualization page*/
.rgba-grey-lighten-5{
    background-color: #fafafa;
}
.main-container{
    padding-top: 90px;
}
.navbar-nav-color{
    background-color: #616161;
}
/*for analysis page*/
/*nav bar color for analysis*/
.navbar-nav-color1{
    background: #E13D2E  none repeat scroll 0 0;
}
.main-container1{
    padding: 8% 0 2%;
    background-color: #616161;
    color: whitesmoke;
    /*text-shadow: 10px 10px 10px black;*/
    text-shadow: 2px 5px 5px rgb(29, 29, 29);
    font-weight: 500;
}
.chart-heading{
    margin: 1% 7%;
    /*border: 2px solid #898989;*/
    padding: 1.5%;
}
/*for select plugin*/
.select2-container--default .select2-selection--single {
    border-radius: 0;
}
/*end of select plugin*/
/**/
.effect6
{
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
}
/**/
/*end for analysis page*/
.heading-visualization{
    padding: 0 0 10px 0;
}
.treemap{
    max-height: 700px;
}
.treemap-side-bar h4{
    padding-left: 10px;
}
.treemap-side-bar ul{
    padding-left: 50px;
}
.treemap-side-bar ul li{
    padding: 5px;
}
/*end of visualization page*/
/*analysis page*/
.right-content{
    padding: 30px 20px;
}
/*circle button*/
.btn-floating.btn-large i {
    line-height: 49px !important;
    font-size: 1.5rem;
}

.btn-danger{
    background-color: #E93939;
    width: 48px !important;
    height: 48px !important;
}
/*end of circle button*/
.chart-icons{
    margin-bottom: 20px;;
}
.chart-icons a{
    margin: 3px;
}
.top-content p{
    padding-bottom: 20px;
}
.level-analysis li{
    margin-left: 10px;
    margin-right: 7px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.level-analysis li a{
    color: gray;
    padding: 10px 10px;
}
.form-section{
    padding-bottom: 20px;
}
.form-section p{
    margin-bottom: 0;
}
.form-section p label{
    color: #333;
    font-size: 1rem;
    font-weight: 300;
}
.spacing-both{
    padding: 50px 0;
}
.table-section{
    margin-top: 2%;
    margin-bottom: 5%;
}
.table-section table thead{
    color: white;
    background-color: rgb(101, 101, 101);
}
.table{
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:2% 0;

}


/*end of analysis page*/

/*error page*/
#error-heading h1{
    font-size: 150px;
    margin: 0;
    background-color: rgb(240, 240, 240);
    font-family: fantasy;
}
#error-heading p{
    background-color: rgb(240, 240, 240);
    margin-bottom: 0;
    font-size: 40px;
    padding-bottom: 20px;
    font-weight: 300;
}
#error-image{
    background-color: #FF6868;
}
#error-image img{
    width: 185px;
    height: auto;
    background: rgb(240, 240, 240);
}
#error-image p{
    padding: 30px 0;
    color: whitesmoke;
}
/*end of error page*/


/*dashboard page*/
.nav-contain h5{
    color: whitesmoke;
}
.nav-right-contains{
    margin:  25px 10px 10px;
}
.nav-right-contains ul li {
    color: whitesmoke;
    font-size: 1.1em;
    padding: 0 10px;
}
.nav-right-contains ul li a i{
    color: whitesmoke;
    font-size: 1.5em;
}
.dashboard-main{
    padding: 0px 0px 10px;
    background-color: whitesmoke;
}
.elegant-color{
    background-color: #2E2E2E;
}
.side-link{
    margin-bottom: 10px;
    min-height: 515px;
}
.side-link ul li{
    padding: 10px;
}
.side-link ul li a{
    color: #DDDADA;
    font-size: 1em;
}
.side-link ul li:hover, .side-link ul li:focus{
    background-color: #848383;
    cursor: pointer;
}
.side-link ul li a span{
    padding-right: 10px;
}
.main-title h5{
    padding: 0 10px;
}
.table-contain tbody tr td{
    vertical-align: middle;
}
table{
    background-color: #FFFFFF;
}
.table-option-icon button{
    margin-top: 0;
    margin-bottom: 0;
}
.pagination-contain li a{
    background-color: transparent;
}
.pagination-contain .active a{
    background-color: #D8D8D8;
    border-color: #A2A2A2;
}
.pagination-contain .active a:hover{
    background-color: #D8D8D8;
}
/*upload page*/
.form-content{
   margin-left: 20px;
    margin-top: 40px;
}

.calander-icon {
    padding: 1px 16px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #000;
    text-align: center;
    background-color: #E6E3E3;
    border-radius: 56px !important;
    border: 1px solid #CCC !important;
    margin-left: 20px;
    cursor: pointer;

}
.input-date{
    margin-left: 10px !important;
}
.help-block{
    margin-left: 10px !important;
}
.label-style{
    font-size: 17px;
    color: #666;
    font-weight: 400;
}
/*end of upload page*/
/*end of dashboard page*/

/*dashboard login*/
.dashboard-login-bg{
    background: #414141;
}
#dashboard-login{
    margin-top: 30%;
}
#dashboard-login h4{
    margin: 40px 0;
}
#login-into-dashboard button{
    margin: 40px 0;
}

.follow {
    width: 42px;
    height: 42px;
    border-radius: 50px;
    background: #f4f0f4;
    display: inline-block;
    margin: 50px calc(50% - 21px);
    white-space: nowrap;
    padding: 11px;
    box-sizing: border-box;
    color: #414141;
    transition: all 0.2s ease;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2)

}
.follow i {
    margin-right: 20px;
    transition: margin-right 0.2s ease;
    font-size: 20px;
    padding: px;
}
.follow:hover{
    width: 145px;
    transform: translateX(-50px);
    color: #414141;
}
.follow:hover i{
    margin-right: 10px;
}
/*dashboard login ends*/

.box {
    width:70%;
    height:200px;
    background:#FFF;
    margin:40px auto;
}

.box h3{
    text-align:center;
    position:relative;
    top:80px;
}
.effect5{
    position: relative;
}

.effect5::before, .effect5::after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 50px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    /*background: #777;*/
    box-shadow: 0 35px 20px #777;
    transform: rotate(-8deg);
}
.effect5::after
{
    transform: rotate(8deg);
    right: 10px;
    left: auto;
}