<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="dashboardLayout :: headSection(${pageTitle})">
    <meta charset="UTF-8" />
    <title th:text="Home"> Home : Budget Visualization</title>
</head>
<body class="dashboard-main">

<header th:include="dashboardLayout :: header">
</header>
<section class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div th:include="dashboardLayout :: sideNav"></div>
        </div>
        <div class="col-md-9">
        <div class="main-contain">
            <div class="main-title z-depth-1 clearfix">
                <h5><i class="fa fa-dashboard">&nbsp;</i>Dashboard</h5>
            </div>

            <div class="dashboard-link">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="dashboard-card card">
                            <div class="dashboard-icon" id="icon">
                                <a href="#"><i class="fa fa-file-text fa-5x"></i></a>
                            </div>
                            <p><a href="#" th:href="@{/income-budget-sheets}">Income Sheet<i class="fa fa-arrow-circle-right"></i></a></p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="dashboard-card card">
                            <div class="dashboard-icon" id="icon1">
                                <a href="#"><i class="fa fa-file-o fa-5x"></i></a>
                            </div>
                            <p><a href="#" th:href="@{/expense-budget-sheets}">Expense Sheet<i class=" fa fa-arrow-circle-right"></i></a></p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="dashboard-card card">
                            <div class="dashboard-icon" id="icon2">
                                <a href="#"><i class="fa fa-user fa-5x"></i></a>
                            </div>
                            <p><a href="#" th:href="@{/user/account}">Manage Account<i class="fa fa-arrow-circle-right"></i></a></p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    </div>
</section>

<footer th:include="layout :: footer">
</footer>
</body>
</html>