<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title> Error : Budget Visualization</title>
</head>
<body>
    <h1>Welcome! Budget Visualization and Analysis Tool</h1>
    <h2>Error Page</h2>

    <!--@thymesVar id="status" type="String"-->
    <p th:text="${status}"></p>
    <!--@thymesVar id="error" type="String"-->
    <p th:text="${error}"></p>

    <!--@thymesVar id="message" type="String"-->
    <p th:text="${message}"></p>
</body>

</html>