<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: headSection(${pageTitle})">
    <meta charset="UTF-8" />
    <title th:text="Home"> Home : Budget Visualization</title>
</head>
<body class="rgba-grey-lighten-5">

<header >
    <!--nav bar section-->
    <nav class="navbar navbar-fixed-top navbar-nav-color1" role="navigation">
        <div class="container">
            <div class="col-lg-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a th:href="@{/}">
                        <img src="assets/img/logo1.png" th:href="@{/assets/img/logo1.png}" class="img-responsive" alt="logo" style="max-width: 150px; max-height: 55px;" />
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html" th:href="@{/}">Home <span class="sr-only">(current)</span></a></li>
                        <li class="dropdown" >
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Visualization <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a th:href="@{/visualize/income}">Income Budget</a></li>
                                <li><a th:href="@{/visualize/expense}">Expense Budget</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" th:class="active">
                            <a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Budget Trend <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a th:href="@{/budget-trend/income}">Income Budget</a></li>
                                <li><a th:href="@{/budget-trend/expense}">Expense Budget</a></li>
                            </ul>
                        </li>
                        <li><a href="analysis.html" th:href="@{/project-budget}" >Project Budget</a></li>
                    </ul>
                    <!--Login in button-->
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li sec:authorize="isAuthenticated()"><a th:href="/user/logout" >Lougout</a></li>-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-user">&nbsp;</i> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a th:href="@{/dashboard}">Dashboard</a></li>
                                <li><a th:href="@{/user/account}">Account</a></li>
                                <li>
                                    <a>
                                        <form th:action="@{/user/logout}" method="post">
                                            <button th:type="submit" class="btn-link">Logout</button>
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li sec:authorize="!isAuthenticated()">
                            <a th:href="@{/user/login}" title="Login">Login</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()">
                            <a th:href="@{/user/signup}" title="Register">Register</a>
                        </li>
                    </ul>
                    <!--end for login button-->
                </div>
            </div>
        </div>

    </nav>

    <!--end for nav bar section-->
</header>

    <section class="container-fluid main-container1 spacing z-depth-1">
        <div class="top-content effect6">
            <h3 class="h3-responsive text-center chart-heading" th:text="${sectionTitle}">Pie Chart view of Income Budget for Fiscal Year 2068/69</h3>
        </div>
    </section>
    <div class="container-fluid spacing">
        <div class="row">
            <!--left column-->

            <!--left column ends -->
            <!--div for chart-->
            <div class="col-md-12">
                <div class="z-depth-1">
                    <div id="chart" style="max-width: 1010px; height: 500px; min-height: 600px; margin: 0 auto"></div>
                </div>
            </div>
            <!--end of div used for chart-->

        </div>
    </div>

    <footer th:replace="layout :: footer">
    </footer>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        var budget = [[${budget}]];
        var budgets = [[${budgets}]];
        var series = [];
        budgets.forEach(function(budget,i){
            var obj = new Object({
                'name' : budget.fiscalYear,
                'data' : [budget.repairMaintenance,budget.transportationFare,budget.telephone,budget.internetExpense,
                    budget.stationaryExamMaterials,budget.electricity,budget.scholarshipAward,budget.advPubRelation,
                    budget.houseRent,budget.newsMagazine,budget.libraryBooks,budget.extraCurricular,budget.sickLeaveOthers,
                        budget.furniture,budget.depreciation,budget.salaryAllowances,budget.officeEqupComputers,
                        budget.gratuity,budget.rdActivity,budget.appProcedureMProg,budget.rebateForFee,budget.providentFund,
                        budget.studentWalefareMahotsav,budget.otInsurance,budget.miscellaneous,budget.projectedSurplus
                ]
            });
            series.push(obj);
//            series[i] = budget;
//            console.log(i);
        });
        series.forEach(function(s){
            console.log(s);
        });
        console.log(series);
        var totalBudget = [[${totalBudget}]];
//        console.log(budgets);
//        console.log(totalBudget);

        $(function () {
            $('#chart').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Stacked Bar Chart'
                },
                xAxis: {
                    categories: ['Repair & Maintenance', 'Transportation Fare', 'Telephone','Internal Expenses',
                        'Stationary/Exam Materials', 'Electricity','Scholarship Award','Advertisement/Public Relation',
                        'House Rent','Newspaper/Magazine','Library Books, Ref. Books','Extra Curricular/Sports Equipment',
                    'Sick Leave & Others','Furniture','Depreciation','Salary & Allowances','Office Equipment/ Computers',
                    'Gratuity','R & D Activity','Application Procedure for M. Program','Rebate for Fee','Provident Fund',
                    'Student Walefare / IT Mahotsab','OT, Insurance, T.A.D.A','Miscellaneous','Project Surplus']
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ''
                    }
                },
                legend: {
                    reversed: true
                },
                credits:{
                    enabled: false
                },
                plotOptions: {
                    series: {
                        stacking: 'normal'
                    }
                },
                series: series
//                        [{
//                    name: 'John',
//                    data: [5, 3, 4, 7, 2]
//                }, {
//                    name: 'Jane',
//                    data: [2, 2, 3, 2, 1]
//                }, {
//                    name: 'Joe',
//                    data: [3, 4, 4, 2, 5]
//                }]
            });
        });

        /*
        $(function () {
            $('#chart').highcharts({
                chart: {
                    type: 'column'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0,
                    itemMarginTop: 5,
                    itemMarginBottom: 5,
                    itemStyle: {
                        lineHeight: '14px',
                        fontSize:'15px',
                        fontWeight: '200'

                    },
                    symbolHeight: 12,
                    symbolWidth: 12,
                    symbolRadius: 6
                },
                credits:{
                    enabled: false
                },
                title: {
                    text:'Bar chart'
                },
                xAxis: {
                    categories: [
                        budget.fiscalYear
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Amount (NRs.)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>NRs. {point.y:.2f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Appli/Admition Fee',
                    data: [budget.appAdmitionFee]

                }, {
                    name: 'Semester Fee per Year',
                    data: [budget.semesterFee]

                }, {
                    name: 'Internet & Library fee',
                    data: [budget.internetLibraryFee]

                }, {
                    name: 'Photocopy Income',
                    data: [budget.photocopyIncome]

                },{
                    name: 'Student Card',
                    data: [budget.studentCard]
                },{
                    name : 'Telephone',
                    data : [budget.telephoneIncome]
                },{
                    name: 'Cert/late Fee/Mis. Income',
                    data : [budget.miscellaneousIncome]
                },{
                    name : 'MEISE Master Degree',
                    data : [budget.meiseMasterDegree]
                }
                ]
            });
        });
        */


        /*]]>*/
    </script>

</body>
</html>