<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: headSection(${pageTitle})">
    <meta charset="UTF-8" />
    <title th:text="Home"> Home : Budget Visualization</title>
</head>
<body>

<header th:replace="layout:: infoNavbar"></header>

    <section class="main-content">
        <div class="container-full">
            <div class="banner-img">
                <img th:src="@{/assets/img/banner.jpg}" alt="full width banner"/>
            </div>
        </div>
    </section>

    <section class="container">
        <section class="rgba-grey-lighten-5">
            <section class="row text-center">
                <div class="card">
                    <div class="col-md-6 index-side-content">
                        <h3 class="">Easy Upload</h3>
                        <p>
                            Upload excel sheet of budget to visualize and analysis makes it easier.
                        </p>
                    </div>
                    <div class="col-md-6 index-icons elegant-color ">
                        <i class="fa fa-file-excel-o fa-3x z-depth-1"></i>
                        <i class="fa fa-laptop fa-3x z-depth-1"></i>
                        <i class="fa fa-cloud-upload fa-3x z-depth-1"></i>
                    </div>
                </div>
            </section>
            <section class="row text-center">
                <div class="card">
                    <div class="col-md-6 index-icons elegant-color">
                        <i class="fa fa-area-chart fa-3x z-depth-1"></i>
                        <i class="fa fa-bar-chart-o fa-3x z-depth-1"></i>
                        <i class="fa fa-pie-chart fa-3x z-depth-1"></i>

                    </div>
                    <div class="col-md-6 index-side-content">
                        <h3>Visualize Instantly</h3>
                        <p>Every paper analysis makes its borden. So, visualize all the document right in time. </p>

                    </div>
                </div>
            </section>
            <section class="row text-center">
                <div class="card">
                    <div class="col-md-6 index-side-content">
                        <h3 class="text-center">Export Graph Easily</h3>
                        <p>
                            Download data of budget sheet into png, img, pdf.
                        </p>
                    </div>
                    <div class="col-md-6 index-icons elegant-color">
                        <i class="fa fa-picture-o fa-3x z-depth-1"></i>
                        <i class="fa fa-file-pdf-o fa-3x z-depth-1"></i>
                        <i class="fa fa-file fa-3x z-depth-1"></i>
                    </div>
                </div>
            </section>
            <section class="row text-center">
                <div class=" card">
                    <div class="col-md-6 index-icons elegant-color">
                        <i class="fa fa-filter fa-3x z-depth-1"></i>
                        <i class="fa fa-cubes fa-3x z-depth-1"></i>
                        <i class="fa fa-calendar-check-o fa-3x z-depth-1"></i>

                    </div>
                    <div class="col-md-6 index-side-content">
                        <h3>Analyse data Instantly</h3>
                        <p>
                            Viewing all your data of budget through various graph which make you easier to analysis your data.
                        </p>
                    </div>
                </div>
            </section>
            </section>
    </section>

    <footer th:replace="layout :: footer">
    </footer>
</body>
</html>