<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title> Home : Budget Visualization</title>
</head>
<body>
    <ul>
        <li><a th:href="@{/}">Home</a> </li>
        <li sec:authorize="isAuthenticated()"><form th:action="@{/user/logout}" method="post">
            <button th:type="submit">Logout</button>
        </form>
        </li>
    </ul>
    <h1>Welcome! Budget Visualization and Analysis Tool</h1>
    <h2>Your BI Partner</h2>
    <div sec:authorize="isAuthenticated()">
        You are Welcome
    </div>
    <div sec:authorize="!isAuthenticated()">You Are Guest</div>
</body>
</html>