<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: headSection(${pageTitle})">
    <meta charset="UTF-8" />
    <title th:text="Home"> Home : Budget Visualization</title>
</head>
<body class="rgba-grey-lighten-5">

<header>
    <!--nav bar section-->
    <nav class="navbar navbar-fixed-top navbar-nav-color1" role="navigation">
        <div class="container">
            <div class="col-lg-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a th:href="@{/}">-->
                    <!--<img src="assets/img/logo1.png" th:href="@{/assets/img/logo1.png}" class="img-responsive" alt="logo" style="max-width: 150px; max-height: 55px;" />-->
                    <!--</a>-->
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html" th:href="@{/}">Home <span class="sr-only">(current)</span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Visualization <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a th:href="@{/visualize/income}">Income Budget</a></li>
                                <li><a th:href="@{/visualize/expense}">Expense Budget</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Budget Trend <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a th:href="@{/budget-trend/income}">Income Budget</a></li>
                                <li><a th:href="@{/budget-trend/expense}">Expense Budget</a></li>
                            </ul>
                        </li>
                        <li><a href="analysis.html" th:href="@{/project-budget}" class="active">Project Budget</a></li>
                    </ul>
                    <!--Login in button-->
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li sec:authorize="isAuthenticated()"><a th:href="/user/logout" >Lougout</a></li>-->
                        <li class="dropdown" sec:authorize="isAuthenticated()">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-user">&nbsp;</i> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a th:href="@{/dashboard}">Dashboard</a></li>
                                <li><a th:href="@{/user/account}">Account</a></li>
                                <li>
                                    <a>
                                        <form th:action="@{/user/logout}" method="post">
                                            <button th:type="submit" class="btn-link">Logout</button>
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li sec:authorize="!isAuthenticated()">
                            <a th:href="@{/user/login}" title="Login">Login</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="'active">
                            <a th:href="@{/user/signup}" title="Register">Register</a>
                        </li>
                    </ul>
                    <!--end for login button-->
                </div>
            </div>
        </div>

    </nav>

    <!--end for nav bar section-->
</header>

    <section class="container-fluid main-container1 spacing z-depth-1">
        <div class="top-content effect6">
            <h3 class="h3-responsive text-center chart-heading" th:text="${sectionTitle}">Pie Chart view of Income Budget for Fiscal Year 2068/69</h3>
            <p class="text-center">Esitmated Budget for Next Year NRs. <span th:text="${est}"></span></p>
        </div>
    </section>
    <div class="container-fluid spacing">
        <div class="row">

            <!--div for chart-->
            <div class="col-md-12">
                <div class="z-depth-1">
                    <div id="chart" style="max-width: 1010px; height: 500px; min-height: 600px; margin: 0 auto"></div>
                </div>
            </div>
            <!--end of div used for chart-->

        </div>
    </div>

    <footer th:replace="layout :: footer">
    </footer>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        var budgets = [[${budgets}]];
        var x1 = [[${x1}]];
        var y1 = [[${y1}]];
        var x2 = [[${x2}]];
        var y2 = [[${y2}]];
        var interval = [[${interval}]];
        console.log(interval);
        var year = [];
        var objs = [];

        budgets.forEach(function(data,i){
            year[i+1] = data.fiscalYear;
            objs[i+1] = data.totalAmount;
            console.log(data);
        });

        objs[0] = 0;

         console.log(year);

        $(function () {
            $('#chart').highcharts({
                xAxis: {
                    min: 1,
                    max: year.length,
                    categories : year
                },
                yAxis: {
                    min: 1,
                    label : 'Amount'
                },
                title: {
                    text: 'Scatter plot with Linear Regression'
                },
                plotOptions: {
                    scatter: {
                        marker: {
                            radius: 5,
                            states: {
                                hover: {
                                    enabled: true,
                                    lineColor: 'rgb(100,100,100)'
                                }
                            }
                        },
                        states: {
                            hover: {
                                marker: {
                                    enabled: false
                                }
                            }
                        },
                        tooltip: {
                            headerFormat: '<b>{series.name}</b><br>',
                            pointFormat: 'NRs. {point.y}'
                        }
                    }
                },
                series: [{
                    type: 'line',
                    name: 'Regression Line',
                    data: [[x1, y1], [x2, y2]],
                    marker: {
                        enabled: false
                    },
                    states: {
                        hover: {
                            lineWidth: 0
                        }
                    },
                    enableMouseTracking: false
                }, {
                    type: 'scatter',
                    name: 'Budget',
                    data: objs,
                    marker: {
                        radius: 4
                    }
                }]
            });
        });


        /*]]>*/
    </script>

</body>
</html>